// colors
$main-color: #2196F3;
$main-color-hover: #188CE8;
$bg-color: #2F303A;
$text-color: #212121;
$title-color: #ffffff;
$address-color: #757575;
$border-color: #ECECEC;
$logo-color: #000000;
$team-bg-color: #F5F4FA;
$card-color: #FFFFFF;
$card-border-color: #EEEEEE;
$disabled-button-text-color: rgba(255, 255, 255, 0.3);
$disabled-button-color: rgba(33, 150, 243, 0.3);
$icons-color: #AFB1B8;
$intro-filter: rgba(47, 48, 58, 0.4);
$social-link-color: rgba(255, 255, 255, 0.1);
$close-button-color: #000000;
$input-border-color: rgba(33, 33, 33, 0.2);
$placeholder-color: rgba(117, 117, 117, 0.5);
