.catalog {
  display: grid;
  grid-template-columns: repeat(auto-fill, 370px);
  justify-content: center;
  grid-gap: 30px;

  @include reset-list;
}

@media screen and (max-width: $desktop-sm) {
  .catalog {
    grid-template-columns: repeat(auto-fill, 354px);
  }
}

@media screen and (max-width: $tablet) {
  .catalog {
    grid-template-columns: repeat(auto-fill, minmax(270px, 0.8fr));
  }
}

@media screen and (max-width: $mobile) {
  .catalog {
    grid-template-columns: 1fr;
  }
}
