.clients__list {
  @include reset-list;
  @include flex-center;
  flex-wrap: wrap;
  gap: 30px;
}

.clients__link {
  @include flex-center;

  width: 170px;
  height: 92px;

  color: $icons-color;
  border-radius: 4px;
  border: 1px solid $icons-color;

  transition:
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus-visible {
    color: $main-color;
    border-color: $main-color;
  }
}
