.input {
  height: 40px;
  width: auto;

  border-radius: 4px;
  border: 1px solid $input-border-color;

  &::placeholder {
    font-size: 12px;
    letter-spacing: 0.03em;
    color: $placeholder-color;
  }

  &:focus {
    border-color: $main-color;
    transition:
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
