.portfolio__container > *:not(:last-child) {
  margin-bottom: 50px;
}

@media screen and (max-width: $tablet) {
  .portfolio__container > *:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: $mobile) {
  .portfolio__container > *:not(:last-child) {
    margin-bottom: 40px;
  }
}
