.section {
  padding-top: $section-padding;
  padding-bottom: $section-padding;
}

@media screen and (max-width: $tablet) {
  .section {
    padding-top: $section-padding-tablet;
    padding-bottom: $section-padding-tablet;
  }
}
