.subscribe {
  width: auto;
}

.subscribe__form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 12px;
  row-gap: 20px;
}

.subscribe__input {
  width: 358px;
  height: 50px;

  padding: 0 16px;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: $title-color;
  border-color: rgba(255, 255, 255, 0.3);
  background-color: transparent;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);

  &::placeholder {
    font: inherit;
    color: rgba(255, 255, 255, 0.6);
  }
}

.subscribe__button {
  @include flex-center;
  gap: 10px;
}

@media screen and (max-width: $tablet) {
  .footer .subscribe {
    margin: 0;
    justify-self: center;
    flex-grow: 1;
  }

  .footer .subscribe__form {
    flex-direction: column;
  }

  .footer .subscribe__label {
    width: 100%;
  }

  .footer .subscribe__input {
    max-width: 450px;
    width: 100%;
  }
}
