.team {
  background-color: $team-bg-color;

  .services__title {
    margin-top: 0;
  }
}

.team__list {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fill, 270px);
  justify-content: center;

  @include reset-list;
}

@media screen and (max-width: $tablet) {
  .team {
    .card__wrapper {
      padding-bottom: 24px;
    }

    .card__img  {
      width: 100%;
    }
  }

  .team__list {
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  }
}
