.advantages.section {
  padding-bottom: calc(#{$section-padding} / 2);
}

.advantages__list {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 30px;

  @include reset-list;

  @media screen and (min-width: $mobile) {
    grid-template-columns: 450px;
  }

  @media screen and (min-width: $tablet) {
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  }
}

.advantages__item {
  outline-offset: 5px;
}

.advantages__item > * {
  margin: 0;
}

.advantages__item > *:not(:last-child) {
  margin-bottom: 10px;
}

.advantages__title {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantages__description {
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: $address-color;
}

.advantages__img {
  @include flex-center;

  height: 120px;

  border-radius: 4px;
  background-color: $team-bg-color;
}

.advantages__item .advantages__img {
  margin-bottom: 30px;
}


@media screen and (max-width: $desktop) {
  .advantages.section {
    padding-bottom: $section-padding-tablet;
  }
}

@media screen and (max-width: $mobile) {
  .advantages .advantages__title {
    text-align: center;
  }
}
