.catalog {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  grid-gap: 30px;

  @include reset-list;

  .card {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .card__info {
    flex-grow: 1;
  }

  @media screen and (min-width: $mobile) {
    grid-template-columns: 450px;
  }

  @media screen and (min-width: $tablet) {
    grid-template-columns: repeat(auto-fill, 354px);
  }

  @media screen and (min-width: $desktop-sm) {
    grid-template-columns: repeat(auto-fill, 370px);
  }
}
