.intro {
  background-color: $bg-color;

  .container {
    max-width: 1600px;
    text-align: center;

    padding-top: 200px;
    padding-bottom: 200px;

    background:
      linear-gradient(to right, $intro-filter, $intro-filter),
      url("../images/intro/bg.jpg") no-repeat center;
    background-size: cover;

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
      background:
        linear-gradient(to right, $intro-filter, $intro-filter),
        url("../images/intro/bg@2x.jpg") no-repeat center;
      background-size: cover;
    }
  }

  .container > *:not(:last-child) {
    margin-bottom: 30px;
  }

  &.section {
    padding: 0;
  }
}

.intro__title {
  max-width: 696px;

  text-align: center;
  margin: 0 auto;

  font-size: 44px;
  line-height: 1.363;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $title-color;
}

@media screen and (max-width: $desktop) {
  .intro .container {
    padding-top: 118px;
    padding-bottom: 118px;
  }

  .intro__title {
    max-width: 360px;
    font-size: 26px;
    line-height: 1.615;
  }
}

@media screen and (max-width: $tablet) {
  .intro {
    .container {
      background: none;
    }

    background:
      linear-gradient(to right, $intro-filter, $intro-filter),
      url("../images/intro/bg-768.jpg") no-repeat center;
    background-size: cover;

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
      background:
        linear-gradient(to right, $intro-filter, $intro-filter),
        url("../images/intro/bg-768@2x.jpg") no-repeat center;
      background-size: cover;
    }
  }
}

@media screen and (max-width: $mobile) {
  .intro {
    background:
      linear-gradient(to right, $intro-filter, $intro-filter),
      url("../images/intro/bg-480.jpg") no-repeat center;
    background-size: cover;

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
      background:
        linear-gradient(to right, $intro-filter, $intro-filter),
        url("../images/intro/bg-480@2x.jpg") no-repeat center;
      background-size: cover;
    }
  }
}
