.team {
  background-color: $team-bg-color;

  .services__title {
    margin-top: 0;
  }
}

.team__list {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  grid-gap: 30px;

  @include reset-list;

  @media screen and (min-width: $mobile) {
    grid-template-columns: 450px;
  }

  @media screen and (min-width: $tablet) {
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  }
}

@media screen and (max-width: $tablet) {
  .team .card__info {
    padding-bottom: 24px;
  }
}
